.ipynb_checkpoints/

superseded/
*/superseded/
fwapg/
basin_tile_mapping/
__pycache__/
bib/

source_data/
processed_data/*
!processed_data/merged_basin_groups/final_polygons


source_data/AK_Coastline
source_data/BC_Coastline
source_data/BC_Coastline/
source_data/BC_Coastline/*
source_data/BC_Coastline/FWA_COASTLINES_SP.geojson
source_data/dem_data
source_data/dem_data/dem_files/*.tif
source_data/GLHMPS_data
source_data/HYSETS_data
source_data/NHN_data/*.zip
source_data/NHN_feature_data
source_data/PNW_Coastline

source_data/WSC_data/WSC_basin_polygons
references/
validate_hysets/results/*.csv
validate_hysets/results/*.pickle
validate_hysets/overlay_figs/
validate_hysets/DEP_overlay_*/
validate_hysets/EENV_*/
validate_hysets/ss/
validate_hysets/test_burn

setup_scripts/DEM_treatment_test/
setup_scripts/img/
setup_scripts/maps*/
setup_scripts/performance_tests/
setup_scripts/superseded/
setup_scripts/Pysheds_fdir/

validate_hysets/test_burn/
validate_hysets/*.geojson

env/

*.ipynb

*-draft.md
*.ods
*.qgz
*.qmd
*.zip
*.odg

