.ipynb_checkpoints

superseded/
fwapg/
basin_tile_mapping/

processed_data/derived_basins/
processed_data/merged_basin_groups/group_stream_vectors/
processed_data/merged_basin_groups/split_groups/
processed_data/merged_basin_groups/*.geojson
processed_data/snapped_locations/
processed_data/superseded/
processed_data/*.geojson

source_data/NHN_data/*.zip
source_data/dem_data/dem_files/*.tif
source_data/AK_Coastline
source_data/BC_Coastline
source_data/BC_Coastline/
source_data/BC_Coastline/*
source_data/BC_Coastline/FWA_COASTLINES_SP.geojson
source_data/dem_data
references/
validate_hysets/results/*.csv
validate_hysets/results/*.pickle

setup_scripts/performance_tests/
setup_scripts/superseded/

validate_hysets/test_burn/
validate_hysets/*.geojson

*-draft.md
*.ods
*.qgz

